//$images-junction: "../bower_components/common-resources/images/";
//$fonts-junction: "../bower_components/common-resources/styles/fonts/";
$images-junction: "../images/";
$fonts-junction: "../styles/fonts/";
@import "common-resources/styles/main.scss";